
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.headercontainer {
  width: 960px;
  background-color: black;
  display: flex;
  align-items: center;
}

header img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

header span {
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  color: white;
}

.banner {
  width: 100%;
  background-image: url("../../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.bannercontainer {
  width: 960px;
}

.bannerbox {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;

}

h4, h1 {
  color: white;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
}

h1 {
  padding-top: 0.25rem;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  background-color: firebrick;
  width: 100%
}

.navcontainer {
  display: flex;
  width: 960px;
  justify-content: space-between;
  padding: 0.75rem 0rem;
}

#mobilenav {
  display: none;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: lightyellow;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;

}

.gadgetrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
  overflow: hidden;
}

.gadget1,
.gadget2,
.gadget3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 4px;
  width: 30%;
}

.image  {
  height: 9rem;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
}

.gadget1 img,
.gadget2 img,
.gadget3 img {
  max-width: 9rem;
}

.gadget1 span,
.gadget2 span,
.gadget3 span {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0rem;
}

.infocontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%
}

.infobar {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: black;
  width: 100%
}

.copyright {
  width: 960px;
}

.copyright span {
  text-align: left;
  color: white;
}

/*Tablet Rules*/

@media only screen and (max-width: 1024px){
  .gadget1,
  .gadget2 {
    width: 47%;
  }
  .gadget3 {
    display: none;
  }
  nav {
    display: none;
  }
  #mobilenav {
    display: flex;
  }

  #mobilenavcontainer {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0.75rem 0rem;
    }
}

/* Mobile Rules */

@media only screen and (max-width: 470px){
  .gadget1,
  .gadget2,
  .gadget3 {
    width: 90%;
  }
  .gadget2,
  .gadget3 {
    display: none;
  }
  nav {
    display: none;
  }
  #mobilenav {
    display: flex;
  }

  #mobilenavcontainer {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 0.75rem 0rem;
    }

    .banner {
      height: 15rem;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
    }

    .bannercontainer {
      width: 100%;
    }

    .bannerbox {
      top: 0rem;
      padding: 1rem 2rem;
      width: 100%;
    }

    h4 {
      font-size: 0.77rem;
    }

    h1 {
      font-size: 1rem;
    }

    .info {
      width: 90%;
      padding-top: 0.5rem;
    }

    .infocontainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .gadgetrow {
      width: 100%;
      flex-direction: column;
      align-items: center;
}
    .copyright {
      text-align: center;
    }

}
